<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col">
                Start Date: <input id="startDate" width="276" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                End Date: <input id="endDate" width="276" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary btn-lg">button</button>
            </div>
        </div>
    </div>

        
        
        
    <script>
        var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        $('#startDate').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            minDate: today,
            maxDate: function () {
                return $('#endDate').val();
            }
        });
        $('#endDate').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            minDate: function () {
                return $('#startDate').val();
            }
        });
        
    </script>