

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Travel uncovered</h1>
    <p class="lead">Find your destination based what is important to you</p>
  </div>
</div>


<div class="container">
  <form action="/search" method="get">
    <div class="form-group">
      <label for="origin">
        Where are you flying from
      </label>
       <input type="text" id="origin" name="origin" class="form-control">
    </div>
  
  
    <button class="btn btn-block btn-outline-secondary">
      Find my destination
    </button>
  </form>
</div>
