

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Travel uncovered</h1>
    <p class="lead">Find your destination based what is important to you</p>
  </div>
</div>


        
    <a class="btn btn-outline-secondary btn-lg btn-block" href="/search" role="button">Search for Location</a>    
        
