


<form action="/get_results" method="post">
    <div class"container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
              Low
            </div>
            <div class="col-md-3 border" align="center">
                <div class="form-group">
                    <label for="relax">Relax</label>
                    <input type="range" class="custom-range" min="0" max="5" id="relax" name="relax">
                </div>
            </div>
            <div class="col-md-auto">
              High
            </div>
        </div>


        <div class="row justify-content-md-center">
            <div class="col-md-auto">
              Low
            </div>
            <div class="col-md-3 border" align="center">
                <div class="form-group">
                    <label for="nightlife">Night Life</label>
                    <input type="range" class="custom-range" min="0" max="5" id="nightlife" name="nightlife">
                </div>
            </div>
            <div class="col-md-auto">
              High
            </div>
        </div>

    
   
        <div class="row justify-content-md-center">
            <div class="col-md-auto ">
              Low
            </div>
            <div class="col-md-3" align="center">
                <div class="form-group">
                    <label for="family">Family</label>
                    <input type="range" class="custom-range" min="0" max="5" id="family" name="family">
                </div>
            </div>
            <div class="col-md-auto">
              High
            </div>
        </div>

    

        <div class="row justify-content-md-center">
            <div class="col-md-auto ">
              Low
            </div>
            <div class="col-md-3" align="center">
                <div class="form-group">
                    <label for="active">Active</label>
                    <input type="range" class="custom-range" min="0" max="5" id="active" name="active">
                </div>
            </div>
            <div class="col-md-auto">
              High
            </div>
        </div>


        <div class="row justify-content-md-center">
            <div class="col-md-auto ">
              Low
            </div>
            <div class="col-md-3" align="center">
                <div class="form-group">
                    <label for="culture">Culture</label>
                    <input type="range" class="custom-range" min="0" max="5" id="culture" name="culture">
                </div>
            </div>
            <div class="col-md-auto">
              High
            </div>
        </div>
        
        <div class="row justify-content-md-center">
            <div class="col-md-3" align="center">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>

    
   

   
</form>









