<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Where you should go</h1>
  </div>
</div>

<div class="container">
    <table class="table">
      <tr>
        <th>
          City
        </th>
        
        <th>
          Score
        </th>
      
      </tr>
        
        <% tempHash =  @cityRanking.sort_by(&:last).reverse
          @display = false
          tempHash.each do | city |
            @geoSelect.each do | geography |
              LocationGeography.where(location_id: city[0], geography_id: geography).each do | something |
                @display = true
               end
              end 
              if @display == true
              %>
                
                <tr>
                    <td>
                        <a href="/locations/<%= city[0] %>">
                            <%= Location.find(city[0]).city_name %>
                        </a>
                    </td>
                    <td>
                        <%= city[1].to_s %>
                    </td>
                 </tr>
              
            <% 
              end
              @display = false
            end %>
    </table>
</div>
