<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Building Amenities

    <a data-toggle="collapse" href="#building_building_amenities_new_form">
      Add building amenity
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @building.building_amenities.each do |building_amenity| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/building_amenities/<%= building_amenity.id %>">
          <%= building_amenity.amenity.name %>
        </a>
      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="building_building_amenities_new_form">
        <%= render partial: "building_templates/building_building_amenities_new_form" %>
      </div>
    </div>

  </ul>
</div>
