<!--<h1>-->
<!--  List a new apartment-->
<!--</h1>-->


<!--<hr>-->
<div class="container">
<span class="border border-secondary">

<form action="/create_apartment" method="post">
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control">
  </div>

  <div class="form-group">
    <label for="floor_plan">
      Floor plan
    </label>

    <input type="text" id="floor_plan" name="floor_plan" class="form-control">
  </div>

  <div class="form-group">
    <label for="building_id">
      Building
    </label>

    <input type="text" id="building_id" name="building_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="bedrooms">
      Bedrooms
    </label>

    <input type="text" id="bedrooms" name="bedrooms" class="form-control">
  </div>

  <div class="form-group">
    <label for="bathrooms">
      Bathrooms
    </label>

    <input type="text" id="bathrooms" name="bathrooms" class="form-control">
  </div>

  <div class="form-group">
    <label for="sq_footage">
      Sq footage
    </label>

    <input type="text" id="sq_footage" name="sq_footage" class="form-control">
  </div>

  <div class="form-group">
    <label for="orientation">
      Orientation
    </label>

    <input type="text" id="orientation" name="orientation" class="form-control">
  </div>

  <div class="form-group">
    <label for="floor">
      Floor
    </label>

    <input type="text" id="floor" name="floor" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create apartment
  </button>
</form>

<hr>

<a href="/apartments">
  Go back
</a>
</span>
</div>