<!-- Validation failure messages -->
<% if @signup.present? %>
  <% if @signup.errors.any? %>
    <% @signup.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new signup
</h1>

<hr>

<form action="/create_signup" method="post">
  <!-- Label and input for event_id -->
  <div class="form-group">
    <label for="event_id">
      Event
    </label>
    <%= select_tag("event_id", options_from_collection_for_select(Event.all, :id, :event_name, @signup.try(:event_id)), :class => "form-control") %>
    
  </div>

  <!-- Label and input for tourist_id -->
  <div class="form-group">
    <label for="tourist_id">
      
    </label>

    <input type="hidden" id="tourist_id" name="tourist_id" class="form-control" value="<%= current_user.id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Sign up!
  </button>
</form>

<hr>

<a href="/signups">
  Go back
</a>
