<!-- Validation failure messages -->
<% if @activity.present? %>
  <% if @activity.errors.any? %>
    <% @activity.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new activity
</h1>

<hr>

<form action="/create_activity" method="post">
  <!-- Label and input for activity -->
  <div class="form-group">
    <label for="activity">
      Activity
    </label>

    <input type="text" id="activity" name="activity" class="form-control" value="<%= @activity.try(:activity) %>">
  </div>

  <!-- Label and input for category -->
  <div class="form-group">
    <label for="category">
      Category
    </label>

    <input type="text" id="category" name="category" class="form-control" value="<%= @activity.try(:category) %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create activity
  </button>
</form>

<hr>

<a href="/activities">
  Go back
</a>
