<!-- Validation failure messages -->
<% if @block.present? %>
  <% if @block.errors.any? %>
    <% @block.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new block
</h1>

<hr>

<form action="/create_block" method="post">
  <input type="hidden" id="year" name="year" value="<%= Date.today.year %>"
  
  <!-- Label and input for Block Number -->
  <div class="form-group">
    <label for="number">
      Block Number
    </label>

    <input type="text" id="number" name="number" class="form-control" value="Input Block Number">
  </div>
  
  <!-- Label and input for start_date -->
  <div class="form-group">
    <label for="start_date">
      Start date
    </label>

    <input type="text" id="start_date" name="start_date" class="form-control" value="<%= Date.today %>">
  </div>

  <!-- Label and input for end_date -->
  <div class="form-group">
    <label for="end_date">
      End date
    </label>

    <input type="text" id="end_date" name="end_date" class="form-control" value="<%= Date.today+30 %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create block
  </button>
</form>

<hr>

<a href="/blocks">
  Go back
</a>
