<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      Podu
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="/podcasts">
           
             <span class="hidden-sm">Podcasts</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/podcasts/new">
            
             <span class="hidden-sm">Add Episode</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ads/new">
            
            <span class="hidden-sm">Add Location</span></a>
          </li>



      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>
