<div class="row mb-3">
  <div class="col-md-12">
    <h3>
      Your bookmarked apartments
    </h3>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <%current_user.bookmarked_apartments.each do |bookmark|%>
      <div class="col-md-3">  
        <div class="card border-secondary mb-3" style="max-width: 20rem;">
          <div class="card-header">
            <a href="apartments/<%=bookmark.id%>">  
              Apartment at <%=bookmark.building.name%>
            </a>
          </div>
          <div class="card-body">
            <img style="height: 200px; width: 100%; display: block;" class="img-responsive" src="<%=bookmark.apartment_photos.first.photo%>" alt="Card image">
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
