<h1>
  Edit building amenity #<%= @building_amenity.id %>
</h1>

<hr>

<form action="/update_building_amenity/<%= @building_amenity.id %>" method="post">

  <div class="form-group">
    <label for="building_id">
      Building
    </label>

    <input type="text" id="building_id" name="building_id" class="form-control" value="<%= @building_amenity.building_id %>">
  </div>

  <div class="form-group">
    <label for="amenity_id">
      Amenity
    </label>

    <input type="text" id="amenity_id" name="amenity_id" class="form-control" value="<%= @building_amenity.amenity_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update building amenity
  </button>
</form>

<hr>

<a href="/building_amenities">
  Go back
</a>
