
<div class="container">
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>

<div class="row">
  <div class="col-md-8 offset-md-2">
       <h1>
        Explore
      </h1> 
  </div>
</div>


<% @podcasts.each do |podcast| %>
  <div class="row mb-5 text-center">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
              <a href="/podcasts/<%= podcast.id %>">
                <%=podcast.title%> - Episode <%=podcast.episode%>
              </a>
          </h4>
        </div>
        <div class="card-body">
          <img src="<%= podcast.cover %>" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
<% end %>