<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="<%= @podcast.cover %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%=@podcast.title%></h5>
        <p class="card-text"> <%=@podcast.podcast_description%></p>
        <a href="/podcasts" class="btn btn-primary">Go back</a>
      </div>
    </div>
    </div>
    <div class="col-md-6">
     <div class="card">
        <div class="card-body">
          <audio src="<%= asset_path('Bill_Burr_1_MP3WRAP.mp3') %>" controls="controls"></audio>
          
        </div>
      </div>
    </div>
  </div>
</div>
