<h1>
  Edit amenity #<%= @amenity.id %>
</h1>

<hr>

<form action="/update_amenity/<%= @amenity.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @amenity.name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update amenity
  </button>
</form>

<hr>

<a href="/amenities">
  Go back
</a>
