<h1>
  Add a new location
</h1>


<hr>

<form action="/create_ad" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="location">
      Location
    </label>

    <input type="text" id="location" name="location" class="form-control">
  </div>
  
  <div class="form-group">
    <label for="file">
      First Part
    </label>

    <input type="file" id="file" name="file" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create Ad
  </button>
</form>

<hr>

<a href="/ads">
  Go back
</a>
