<div class="container">
<h1>
  All geographies
</h1>

<a href="/geographies/new">
  Add a new geography
</a>

<hr>

<table class="table">
  <tr>
    <th>
      Geography
    </th>
    
    <th>
      Present in
    </th>

    <th>
    </th>
  </tr>

  <% @geographies.each do |geography| %>
  <tr>
    <td>
      <%= geography.geography %>
    </td>
    
    <td>
      <ul class="list-group list-group-flush">
      <%   LocationGeography.where(geography_id: geography.id).each do |detail| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="/locations/<%= detail.location_id %>">
            <%= Location.find(detail.location_id).city_name %>
          </a>
        </li>
      <% end  %>
      </ul>
    </td>
    

    <td>
      <a href="/geographies/<%= geography.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
</div>