<!-- Validation failure messages -->
<% if @service.present? %>
  <% if @service.errors.any? %>
    <% @service.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new service
</h1>

<hr>

<form action="/create_service" method="post">
  <!-- Label and input for name -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @service.try(:name) %>">
  </div>

  <!-- Label and input for crosscover -->
  <div class="form-check">
    <input type="hidden" value="0" name="crosscover">
    <input id="crosscover" class="form-check-input" name="crosscover" type="checkbox" <%= "checked" if @service.try(:crosscover) %>>

    <label for="crosscover" class="form-check-label">
      Crosscover
    </label>
  </div>

  <!-- Label and input for vacation -->
  <div class="form-check">
    <input type="hidden" value="0" name="vacation">
    <input id="vacation" class="form-check-input" name="vacation" type="checkbox" <%= "checked" if @service.try(:vacation) %>>

    <label for="vacation" class="form-check-label">
      Vacation
    </label>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create service
  </button>
</form>

<hr>

<a href="/services">
  Go back
</a>
